{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects - Développeur Web Python</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>

<div class="wrapper">
  <div class="cols">

    {% for project in projects %}


			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url({{ project.image.url }})">
						<div class="inner">
							<p>{{ project.title  }}</p>
							{% for category in project.category.all %}
              <span>{{ category.title }}</span>
							    {% endfor %}

						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>{{ project.content | truncatewords:15  }}</p>
						</div>
					</div>
				</div>
			</div>

    {% endfor %}

		</div>
  		</div>

<div class="footer">
  <p>Copyright All Right Reserved 2022 -<a href="mailto:ivan.urbaczka@gmail.com?subject=Sujet du message"> IVAN</a></p>
</div>


</body>
</html>